<h1>Genre</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Games in Categories</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @genre.each do |genres| %>
    <tr>
      <td><%= genres.genre_name %></td>
      <td><%= genres.games.size %></td>
      <td><%= %></td>
      <td><%= %></td>
    </tr>

  </tbody>
  <% end %>
</table>

<%= paginate @genre, window: 2 %>
<p><%= link_to "Home", root_path %></p>