<h1>Publisher</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Games from Publishers</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @publisher.each do |publishers| %>
    <tr>
      <td><%= publishers.publisher_name%></td>
      <td><%= publishers.games.size%></td>
      <td><%= %></td>
      <td><%= %></td>
    </tr>
  </tbody>
  <% end %>
</table>

<%= paginate @publisher, window: 2 %>
<p><%= link_to "Home", root_path %></p>
