<h1>Developer</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Games from Developers</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @developer.each do |developers| %>
    <tr>
      <td><%= developers.developer_name%></td>
      <td><%= developers.games.size %></td>
      <td><%= %></td>
      <td><%= %></td>
    </tr>

  </tbody>
  <% end %>
</table>

<%= paginate @developer, window: 2 %>
<p><%= link_to "Home", root_path %></p>
