<h1>Developer</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Games in category</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= @developer.each do |developers| %>
    <tr>
      <td><%= developers.developer_name%></td>
      <td><%= %></td>
      <td><%= %></td>
      <td><%= %></td>
    </tr>

  </tbody>
  <% end %>
</table>
<p><%= link_to "Home", root_path %></p>
