<h1>Platforms</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= @platform.each do |platforms| %>
    <tr>
      <td><%= platforms.platform_name%></td>
      <td><%= %></td>
      <td><%= %></td>
      <td><%= %></td>
    </tr>

  </tbody>
  <% end %>
</table>

<%= paginate @platform, window: 2 %>
<p><%= link_to "Home", root_path %></p>
