<!DOCTYPE html>
<html>
  <head>
    <title>VideoGamesSales</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">Video Game Sales</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Games</a>
          </li>
          <li class="nav-item "">
            <a class=" nav-link" href="/developer">Developers</a>
          </li>
          <li class="nav-item "">
            <a class=" nav-link" href="/publisher">Publishers</a>
          </li>
          <li class="nav-item "">
            <a class=" nav-link" href="/genre ">Genres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/platform">Platforms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages">About us</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0" action="/search" accept-charset="UTF-8" method="get"><input name="utf8"
            type="hidden" value="&#x2713;" />
          <input type="text" name="q" id="q" class="form-control mr-sm-2" placeholder="Game Search" />
          <input type="submit" name="commit" value="Search" class="btn btn-outline-success my-2 my-sm-0"
            data-disable-with="Search" />
        </form>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
